.container-carrito{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    
}

.carrito{
    margin-top: 40px;
    width: 80%;
    height: 60vh;
    background-color: aliceblue;
    border-radius: 12px;

}