*{
    margin:0;
    padding: 0%;
    }

    nav{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: auto;
    }

nav ul{

    display: flex;
    margin: auto;
    width: 80%;
    justify-content: center;
}

nav ul li {
   padding: 10px 50px;
    text-decoration: none;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
   color: brown;
}